:root {
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
    font-family: var(--font-monospace);
    font-size: 0.625rem;
    color: #d63384;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    code {
        color: #e687b7;
    }
}